body, p, ul, ol {
    font-family: 'Roboto', sans-serif;
}

.nav .nav-item a {
    font-weight: 300;
}

.nav .nav-item a:hover {
    text-decoration: underline;
}

.footer-container p {
    font-weight: 300;
}